.dotfiles/
.ssh/
.gnupg/
.terraform.d/
.vim
.yarnrc
.npm/
.python_history
.local/state
.cache/
.java/
.landscape/
.motd_shown
.sudo_as_admin_successful
.viminfo
src/
.nvm/
.config/wslu/
.lesshst
.azure/
snap/
.wget-hsts
.azcopy/
.sqlite_history
.config/gh/hosts.yml
**/environments.rec
tmp/
.local/lib/python3.10/site-packages/
.pkg-cache/
.node_repl_history
.config/simple-update-notifier/
.local/share/containers/
